.list {
  color: white;
  width: 90%;
  background-color: #bf07ac;
  height: 50px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;

}

.list p {
  padding: 10px;
}

.list p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.icon {
  margin: 0 5px;
  font-size: 19px;
  text-align: center;
}

.list p input {
    background-color: transparent;
    border: none;
    outline: none;
    font: white;
    font-size: 18px;
}